body {
    color: #606060;
    font-family: "Roboto", "Libre Franklin", "Open Sans", sans-serif;
    font-weight: 300;
}

h1 {
    margin: 0 0 15px 0;
    font: 300 34px/40px Roboto, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-stretch: normal;
    font-size: 34px;
    font-family: Roboto, sans-serif;
}

a:hover {
    color: rgb(251, 140, 0);
    text-decoration: none;
}

a:active {
    color: rgb(251, 140, 0);
    text-decoration: none;
}

p {
    margin: 5px 0 8px 0;
}

.horizontalNav {
    border: none;
    background-color: rgb(251, 140, 0);
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
    text-transform: uppercase;
}

.horizontalNav a {
    color: rgba(255, 255, 255, 0.8);
}

.horizontalNav a.active {
    color: white;
}

.horizontalNav a:hover {
    color: white;
}

#page-content-wrapper section pre .hljs,
section pre .hljs,
pre .hljs,
.hljs {
    padding: 10px;
}

.language-scala {
    margin: 10px 0 10px 0;
}

.technologies {
    display: none;
}

#site-footer .container .row div:nth-child(1) {
    width: 80%;
}

#site-footer .container .row div:nth-child(2) {
    width: 20%;
}

.modal-kazari {
    display: none;
}

.jumbotron {
    padding-top: 100px;
    padding-bottom: 60px;
    margin-bottom: 0;
    background: rgb(239, 108, 0) none !important;
}

.jumbotron h1 {
    margin-top: 80px;
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 80px;
        padding-bottom: 40px;
    }
}

.funding_table {
    border: 0;
    font-size: 12px;
    width: 100%;
}

.funding_table th {
    border: 0;
}

.funding_table td {
    border: 0;
}
