**/.DS_Store

# Project Specific
temp/
datasets/

# Scala Specific
*.class
*.log

# SBT Specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Bloop Specific
.bloop
.bsp

# Metals Specific
.metals

# Hydra Specific
.hydra

**/src/main/native/lib/**/*
**/src/main/generated/**/*

# IntelliJ Specific
**/.idea/**/*

# CLion Specific
**/cmake-build-debug/**/*

# VS Code Specific
**/.vscode/**/*
